@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Portfel.Data.Data.Portfel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="about" style="margin-bottom: 55px;">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Moje portfele</h2>
            <p>
                <a asp-action="DodajPortfel" style="background: var(--color-primary); border: 0; padding: 8px 25px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;">Dodaj nowy portfel</a>
            </p>
        </div>
        <table class="table align-middle mb-0 bg-white table-striped table-hover">
            <thead class="bg-light">
            <tr>
                <th>
                    Nazwa
                </th>
                @*   <th>
                @Html.DisplayNameFor(model => model.Waluta)
            </th>*@
                <th>
                    Stan konta
                </th>
                @*   <th>
                @Html.DisplayNameFor(model => model.SumaNaKoncie)
            </th>*@
                <th> Akcje</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwa)
                    </td>
                    @*     <td>
                    @Html.DisplayFor(modelItem => item.Waluta)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.KontoGotowkowe.StanKonta)
                    </td>
                    @*  <td>
                    @Html.DisplayFor(modelItem => item.SumaNaKoncie)
                    
                </td>*@
                    <td>
                        <a asp-action="WplacKwote" asp-controller="Portfel" 
                           asp-route-id="@item.Id"
                           style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                        >Wpłać kwotę</a>
                        <a asp-action="WyplacKwote" asp-controller="Portfel" 
                           asp-route-id="@item.Id"
                           style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                        >Wypłać kwotę</a>
                        <a asp-action="KupAktywo" asp-controller="Portfel" 
                           asp-route-id="@item.Id"
                           style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                        >Kup aktywo</a>
                        <a asp-action="SprzedajAktywo" asp-controller="Portfel" 
                           asp-route-id="@item.Id"
                           style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                        >Sprzedaj aktywo</a>
                        <a asp-action="SzczegolyPortfela" asp-controller="Portfel" 
                           asp-route-id="@item.Id"
                           style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                        >Szczegóły portfela</a>
                    </td>
                    @*<td>
                    <a asp-action="SzczegolyKonta" asp-controller="Uzytkownik" 
                       asp-route-id="@item.Id"
                       style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                    >Szczegóły konta</a>
                    <a asp-action="EdytujKonto" asp-controller="Uzytkownik" 
                       asp-route-id="@item.Id"
                       style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                    >Edytuj konto</a>
                    <a asp-action="UsunKonto" asp-controller="Uzytkownik" 
                       asp-route-id="@item.Id"
                       style="background: var(--color-primary); border: 0; padding: 2px 12px; color: #fff; transition: 0.4s; border-radius: 50px; margin-top: 8px;"
                    >Usuń konto</a>
                </td>*@
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>
