@model SzczegolyKonta
@*@model IEnumerable<Portfel.Data.Data.Transakcja>*@


<h1>Konto @Model.NazwaKonta</h1>


<p>
    <a asp-action="DodajTransakcje" asp-controller="Uzytkownik" asp-route-id="@Model.IdKonta"
       class="btn btn-success btn-block 
                    btn-lg gradient-custom-4 text-body">Dodaj transakcje</a>
</p>

<table class="table">
    <thead>
        <tr>
            <td>
                <div>Data dodania</div>
            </td>
            <td>
                <div>Rodzaj transakcji</div>
            </td>
            <td>
                <div>Waluta</div>
            </td>
            <td>
                <div>Symbol giełdowy</div>
            </td>
            <td>
                <div>Kwota</div>
            </td>
            <td>
                <div>Ilość</div>
            </td>
            <td>
                <div>Rodzaj opłaty</div>
            </td>
            <td>
                <div>Komentarz</div>
            </td>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transakcje) 
    {
    <tr>
        <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajTransakcji.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waluta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymbolGieldowy.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kwota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajOplaty.Nazwa)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Komentarz)
        </td>
        </tr>
    }
</table>
