@model IEnumerable<Portfel.Data.Data.RodzajOplaty>

@{
    ViewData["Title"] = "Index";
}
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                         <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-primary">Rodzaje opłat</h1>
                        <a asp-action="Create" title="Dodaj" class="d-sm-inline-block btn btn-primary shadow-sm"><i
                                class="fas fa-plus-square fa-sm text-white-50"></i> Dodaj</a>
                    </div>
</div>
      <div class="card-body">
            <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promowany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktywna)
            </th>
           <th class="text-center th-action">Akcja</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promowany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktywna)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 </div>
  </div>
</div>