@model Portfel.Data.Data.TransakcjaNew

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transakcja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Portfel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Portfel.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataTransakcji)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataTransakcji)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aktywo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aktywo.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kierunek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kierunek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ilosc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Komentarz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Komentarz)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
